.Suggested {
    display:inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 150px;
    margin: 40px;

    &__card {
        text-align: center;
        border-color:black;
        border:2px solid;
        background-color: whitesmoke;
        width: 300px;
    }
    
    &__image {
        width: 120px;
        height: 120px;
    }
}

.Suggested__button{
    background-color: black;
    border-color: white;
    color:white;
    margin:20px;
    width: 100px;
    height: 40px;
}
